@charset "UTF-8";
/* BASE */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  /* padding: 0; */
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--white-text-color);
  font-family: var(--text-font);
  font-style: normal;
}

.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
}

.our-clients .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* UTILS */
:root {
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #757575;
  --title-color: #212121;
  --white-text-color: #ffffff;
  --icons-color: #afb1b8;
  --cub: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.auth-nav-item, .navigation, .modal-form-input-policy, .modal-form-check-policy, .close-btn, .footer-form-box, .footer-form-btn, .icon-link, .our-clients-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-btn, .footer-form-btn, .about-us-title, .product-label, .icon-link, .our-clients-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/* COMPONENTS */
/* logo */
.logotype {
  display: block;
  width: 145px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-style: normal;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.logotype-light-theme {
  color: #000000;
}

.logotype-dark-theme {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.header .logotype {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-web {
  color: var(--accent-color);
  font-style: normal;
}

.modal-btn {
  padding: 10px 32px;
  width: 200px;
  display: inline-block;
  text-align: center;
  min-width: 200px;
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  color: var(--white-text-color);
  background: var(--accent-color);
  cursor: pointer;
  border: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cub);
          transition-timing-function: var(--cub);
}

.modal-form-btn {
  display: inline-block;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 32px;
  width: 200px;
  outline: none;
  min-width: 200px;
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  color: var(--white-text-color);
  background: var(--accent-color);
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-btn:hover {
  background-color: #188ce8;
}

.auth-nav {
  margin-left: auto;
}

.auth-nav .auth-nav-item + .auth-nav-item {
  margin-left: 30px;
}

.auth-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-nav-item {
  margin-left: auto;
  -webkit-transition: fill, 250ms, var(--cub);
  transition: fill, 250ms, var(--cub);
}

.auth-nav-item:hover > svg,
.auth-nav-item:focus > svg {
  fill: var(--accent-color);
}

.contacts-icon.convert {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts-icon.tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cub);
          transition-timing-function: var(--cub);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: var(--accent-color);
}

.navigation-list .navigation-list-link.current {
  color: var(--accent-color);
}

.info {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .info {
  display: block;
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--main-color);
  -webkit-transition: color, 250ms, var(--cub);
  transition: color, 250ms, var(--cub);
}

.info:hover, .info:focus {
  color: var(--accent-color);
}

.info:hover > svg,
.info:focus > svg {
  fill: var(--accent-color);
}

.address-list-item-link {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.address-list-item-link-mail, .address-list-item-link-tel {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--text-font);
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Modal Window */
.backdrop {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: var(--white-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-label {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
  margin-bottom: 10px;
}

.input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .icon-black {
  fill: var(--accent-color);
}

.modal-form-message {
  display: block;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input-policy {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 30px;
}

.modal-form-input-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../6-hw/rectangle.svg);
  background-position: center;
  margin-right: 10px;
  border-radius: 2px;
}

.modal-form-check-policy:focus + .modal-form-input-policy::before {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--accent-color);
}

.modal-form-check-policy:checked + .modal-form-input-policy::before {
  background-color: var(--accent-color);
  background-image: url(../6-hw/tip.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-color: var(--accent-color);
}

.modal-form-check-policy {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.agreement-link {
  color: var(--accent-color);
}

.fill-form {
  text-align: center;
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  min-width: 448px;
  height: 23px;
  margin-bottom: 12px;
}

.icon-black {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  width: 18px;
  fill: var(--title-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: var(--title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  padding: 0;
}

.close-btn:hover > .icon-close {
  fill: var(--accent-color);
}

.icon-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
  height: 11px;
  width: 11px;
}

@-webkit-keyframes rotate-box {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-box {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Footer Form */
.footer-form {
  width: 570px;
  height: 86px;
  margin-left: auto;
}

.footer-form-text {
  width: 219px;
  height: 16px;
  margin-bottom: 20px;
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-form-input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--white-text-color);
}

.footer-form-btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.footer-form-ikon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

/* Blue Overlay */
.thumb-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-cards {
  position: absolute;
  left: 0;
  top: 0;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  color: var(--white-text-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .overlay-cards,
.projects-link:focus .overlay-cards {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* LAYOUT */
.address {
  font-style: normal;
  color: var(--white-text-color);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-icons {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 70px;
  width: 206px;
}

.icon-link .dark-them {
  color: var(--white-text-color);
}

/* footer-icons */
.footer-title {
  color: var(--white-text-color);
  margin-bottom: 30px;
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.icon-list-item .dark-them {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-list-item .dark-them:hover, .icon-list-item .dark-them:focus {
  background-color: var(--accent-color);
}

.icon-list-item .dark-them-1 {
  fill: var(--white-text-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address-list-item:not(:last-child) {
  min-width: 231px;
  margin-bottom: 9px;
}

.address-list-item-link {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color-accent);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item-link:hover, .address-list-item-link:focus {
  color: var(--accent-color);
}

.address-list-item-link-tel,
.address-list-item-link-mail {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item-link-tel:hover, .address-list-item-link-tel:focus,
.address-list-item-link-mail:hover,
.address-list-item-link-mail:focus {
  color: var(--accent-color);
}

/* header*/
.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* hero*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-side {
  display: inline-block;
  text-align: center;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/герой.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/герой.jpg);
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  width: 696px;
  font-family: var(--text-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* items */
.items {
  padding: 94px 0;
}

.items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
  min-width: 1170px;
}

.items-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc(100% / 4-30);
      flex-basis: calc(100% / 4-30);
  width: 270px;
}

.items-list-item::before {
  content: "";
  display: block;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.items-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: var(--text-font);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.icon-antenna::before {
  background-image: url(../images/antenna.png);
}

.icon-clock::before {
  background-image: url(../images/clock.png);
}

.icon-diagram::before {
  background-image: url(../images/diagram.png);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.png);
}

.items-text {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* about us */
.about-us {
  padding-bottom: 94px;
}

.about-us-title,
.our-team-title {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.about-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us-list-item {
  position: relative;
}

.about-us-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-title {
  min-width: 376px;
  margin-bottom: 50px;
}

.product-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  display: block;
  padding-top: 27px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.label-text {
  text-align: center;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* our team */
.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-title {
  margin-bottom: 50px;
  text-align: center;
}

.our-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-team-list-item {
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-text-color);
  border-radius: 0px 0px 4px 4px;
}

.our-team-text {
  text-align: center;
  padding: 30px 32px;
}

.our-team-title-names {
  margin-bottom: 10px;
}

.our-team-positions {
  margin-bottom: 16px;
  font-family: var(--text-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 44px;
  margin-right: -10px;
  margin-bottom: -30px;
}

.icon-list:nth-child(4n) {
  margin-right: 0;
}

.icon-list:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.icon-list-item {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin-right: 10px;
  -ms-flex-preferred-size: calc(100% / 4-30);
      flex-basis: calc(100% / 4-30);
}

.icon-link {
  width: 44px;
  height: 44px;
  color: var(--icons-color);
  background-color: var(--white-text-color);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover, .icon-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
  height: 20px;
  width: 20px;
}

/* Our Clients */
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: inline-block;
}

.our-client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
}

.our-clients-item {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 30px;
  -ms-flex-preferred-size: calc(100% / 6-150);
      flex-basis: calc(100% / 6-150);
  width: 170px;
  height: 90px;
}

.our-clients-link {
  color: var(--icons-color);
  background-color: var(--white-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: solid 1px var(--icons-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover, .our-clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.our-clients-icon {
  fill: currentColor;
  margin: auto;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-icon:hover, .our-clients-icon:focus {
  color: var(--accent-color);
}

/* projects Portfolio */
.projects-title {
  margin-bottom: 4px;
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects-text {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list-item:nth-child(3n) {
  margin-right: 0;
}

.projects-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover, .projects-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*.projects-list-item:hover,
.projects-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */
.projects-inbox {
  width: 370px;
  padding: 20px 24px;
  background: var(--white-text-color);
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */