/* about us */
.about-us {
  padding-bottom: 94px;
}
.about-us-title,
.our-team-title {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;

  letter-spacing: 0.03em;
  color: var(--title-color);
}
.about-us-list {
  display: flex;
}

.about-us-list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-us-title {
  @extend %text-align;

  min-width: 376px;
  margin-bottom: 50px;
}

.product-label {
  @extend %text-align;
  align-items: center;

  position: absolute;
  display: block;

  padding-top: 27px;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.label-text {
  text-align: center;

  font-family: var(--text-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
