// .address {
//   font-style: normal;
//   color: var(--white-text-color);
// }
// /* footer */

// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: #2f303a;
// }

// .footer-icons {
//   align-items: flex-start;
//   margin-left: 70px;
//   width: 206px;
// }
// .icon-link .dark-them {
//   color: var(--white-text-color);
// }
// /* footer-icons */
// .footer-title {
//   color: var(--white-text-color);
//   margin-bottom: 30px;

//   font-family: var(--text-font);
//   @include font($fw: 700);
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: var(--white-text-color);
// }

// .icon-list-item .dark-them {
//   background-color: rgba(255, 255, 255, 0.1);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//   &:hover,
//   &:focus {
//     background-color: var(--accent-color);
//   }
// }
// .icon-list-item .dark-them-1 {
//   fill: var(--white-text-color);
// }

// .address .link:hover,
// .address .link:focus {
//   color: var(--accent-color);
// }

// .address-list-item:not(:last-child) {
//   min-width: 231px;
//   margin-bottom: 9px;
// }
// .address-list-item-link {
//   font-family: var(--text-font);
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
//   color: var(--text-color-accent);

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .address-list-item-link-tel,
// .address-list-item-link-mail {
//   font-family: var(--text-font);
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
//   color: rgba(255, 255, 255, 0.6);

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

// .footer .logotype {
//   justify-content: center;
// }

.footer-icons {
  margin: 0 auto;
  max-width: 206px;
  margin-bottom: 60px;
}

.icon-link .dark-them {
  color: var(--white-text-color);
}
/* footer-icons */
.footer-title {
  color: var(--white-text-color);
  margin-bottom: 20px;

  font-family: var(--text-font);
  @include font($fw: 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.address-list {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.icon-list-item .dark-them {
  background-color: rgba(255, 255, 255, 0.1);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.icon-list-item .dark-them-1 {
  fill: var(--white-text-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address-list-item:not(:last-child) {
  min-width: 231px;
  margin-bottom: 8px;
}
.address-list-item-link {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-list-item-link-tel,
.address-list-item-link-mail {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
