// .address {
//   font-style: normal;
//   color: var(--white-text-color);
// }
// /* footer */

// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: #2f303a;
// }

// .footer-icons {
//   align-items: flex-start;
//   margin-left: 70px;
//   width: 206px;
// }
// .icon-link .dark-them {
//   color: var(--white-text-color);
// }
// /* footer-icons */
// .footer-title {
//   color: var(--white-text-color);
//   margin-bottom: 30px;

//   font-family: var(--text-font);
//   @include font($fw: 700);
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: var(--white-text-color);
// }

// .icon-list-item .dark-them {
//   background-color: rgba(255, 255, 255, 0.1);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//   &:hover,
//   &:focus {
//     background-color: var(--accent-color);
//   }
// }
// .icon-list-item .dark-them-1 {
//   fill: var(--white-text-color);
// }

// .address .link:hover,
// .address .link:focus {
//   color: var(--accent-color);
// }

// .address-list-item:not(:last-child) {
//   min-width: 231px;
//   margin-bottom: 9px;
// }
// .address-list-item-link {
//   font-family: var(--text-font);
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
//   color: var(--text-color-accent);

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .address-list-item-link-tel,
// .address-list-item-link-mail {
//   font-family: var(--text-font);
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
//   color: rgba(255, 255, 255, 0.6);

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  display: flex;
  align-items: baseline;

  & .container {
    display: block;
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }
}

// .footer .logotype {
//   justify-content: center;
// }

.footer-icons {
  margin: 0 auto;
  max-width: 206px;
  margin-bottom: 60px;
}

.icon-link .dark-them {
  color: var(--white-text-color);
}
/* footer-icons */
.footer-title {
  color: var(--white-text-color);
  margin-bottom: 20px;

  font-family: var(--text-font);
  @include font($fw: 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.address-list {
  display: block;
  text-align: center;
}

.icon-list-item .dark-them {
  background-color: rgba(255, 255, 255, 0.1);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.icon-list-item .dark-them-1 {
  fill: var(--white-text-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address-list-item:not(:last-child) {
  min-width: 231px;
  margin-bottom: 8px;
}
.address-list-item-link {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-list-item-link-tel,
.address-list-item-link-mail {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and(min-width:1200px) {
  .address-list-item-link-tel,
  .address-list-item-link-mail {
    text-align: start;
  }
}
@media screen and(max-width:479px) {
  .contact-info {
    margin-bottom: 60px;
  }
}
@media screen and(min-width:480px) and (max-width: 1199px) {
  .contact-info {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 60px;
  }
  .footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    width: 206px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and(min-width:768px) and (max-width: 1199px) {
  .contact-info {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 60px;
  }
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer-icons {
    margin-left: 0;
    margin-right: 0;
  }
  .address-list {
    flex-direction: column;
    // display: flex;
    margin: 0;
    align-items: center;
  }
  .logotype-dark-theme {
    margin-bottom: 20px;
    margin-right: 0;
    padding: 0;
    justify-content: start;
  }
}

@media screen and(min-width: 1200px) {
  .contact-info {
    margin-right: 70px;
    margin-bottom: 0;
    width: 231px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1190px) {
  .footer-form {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-box {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
    margin-right: 12px;
  }
  .footer-form-text {
    display: block;
    margin: 0px;
    margin-bottom: 20px;
  }
}
