/* header*/

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav-list {
    display: none;
  }

  .navigation-list {
    display: none;
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
}

.auth-nav-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.auth-nav-item {
  @media screen and(min-width:768px) {
    margin-bottom: 10px;
  }

  &:last-child {
    @media screen and(min-width:768px) {
      margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

// @media screen and (max-width: 767px) {
//   .navigation-list {
//     display: none;
//   }
//   .auth-nav {
//     display: none;
//   }
//   .header-nav {
//     display: flex;
//   }
// }

// .site-nav {
//   display: flex;
//   justify-content: space-between;
// }

.burger-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  margin-left: auto;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

// .burger-menu {
//   width: 40px;
//   height: 40px;
// }

/* Mobile menu*/

.mobile-menu {
  // display: flex;
  display: none;
  overflow: scroll;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  transition: transform 300ms linear;

  z-index: 100;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu.is-open {
  display: flex;
  transform: translateX(-50%) translateY(0%);
}

.mobile-close-btn {
  position: absolute;
  top: 21px;
  right: 25px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  text-align: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon-cross {
  width: 19px;
  height: 19px;

  .mobile-close-btn:hover &,
  .mobile-close-btn:focus & {
    fill: var(--accent-color);
  }
}

.mob-menu-nav-link {
  display: block;

  font-family: var(--text-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 320px) {
    font-size: 30px;
  }
}

.mob-menu-nav-link:not(last-child) {
  margin-bottom: 32px;
}

.mobile-link-tel {
  display: flex;
  font-style: Roboto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: var(--accent-color);
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.mobile-link-mail {
  display: inline-block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  color: #757575;
}

.navigation-list-link.current {
  color: var(--accent-color);
}

.mobile-list-auth {
  padding-bottom: 64px;
}

// .mobile-list {
//   display: flex;
//   padding-left: -10px;
// }

.mobile-item {
  display: inline-flex;
}

.mobile-link {
  display: inline-flex;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  /* identical to box height, or 122% */

  letter-spacing: 0.02em;

  color: hsl(207, 90%, 54%);
  padding-right: 10px;
  padding-left: 10px;

  &:not(last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

/* Mobile menu end */

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .navigation-list {
    display: flex;
  }

  .header {
    height: 80px;
  }

  .header-nav {
    display: flex;
  }

  .navigation {
    display: flex;
  }

  .navigation-list-item {
    display: flex;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigation-list-link {
    padding-top: 32px;
    padding-bottom: 32px;

    display: block;

    font-family: var(--text-font);
    @include font();
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
    position: relative;

    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cub);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    .navigation-list &.current {
      color: var(--accent-color);
    }
  }

  .auth-nav-list {
    list-style: none;
  }

  /* Contact info */

  // .auth-nav {
  //   display: inline-block;
  //   margin-left: auto;
  // & .auth-nav-item + .auth-nav-item {
  //   margin-left: 30px;
  // }
  // }

  // .auth-nav-item {
  //   @extend %flex;
  //   margin-left: auto;

  //   transition: fill, 250ms, var(--cub);

  // }

  .info {
    display: flex;
    align-items: center;

    .header & {
      display: block;
      font-family: var(--text-font);
      @include font();
      text-decoration: none;
      letter-spacing: 0.02em;
      color: var(--main-color);

      transition: color, 250ms, var(--cub);
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &:hover > svg,
    &:focus > svg {
      fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
    }
  }

  .contacts-icon.convert {
    margin-right: 10px;
  }

  .contacts-icon.tel {
    margin-right: 10px;
  }
}
