/* Hero Portfolio*/

// .nav-menu {
//   text-align: center;
// }
// .buttons-list {
//   display: block;

//   margin-bottom: 50px;
// }
// .buttons-list-item {
//   display: inline-block;

//   &:not(:last-child) {
//     margin-right: 8px;
//   }
// }
.nav-menu-btn {
  padding-top: 60px;
  padding-bottom: 40px;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.buttons-list-item:nth-child(n + 4) {
  margin-bottom: 0;
}

.buttons-list-item:not(last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  background: var(--our-tem-color);
}

.buttons-list-item-btn {
  display: inline-block;
  text-align: center;

  padding: 6px 22px;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  //border-color: #f5f4fa;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-item {
  margin: 0;
  display: flex;
  background: var(--white-text-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  @media screen and (min-width: 479px), (max-width: 767px) {
    width: 100%;
  }
}
