/* hero*/
// .hero {
//   display: flex;
//   justify-content: center;

//   padding-top: 200px;
//   padding-bottom: 200px;
//   margin-bottom: 60px;
// }

// .hero-side {
//   display: inline-block;
//   text-align: center;
// }

// .overlay {
//   display: flex;
//   height: 600px;
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
//   background-repeat: no-repeat;
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/герой.jpg);
//   background-size: cover;
//   background-position: center;
//   background-color: #c4c4c4;
// }

// .title {
//   text-align: center;

//   margin-bottom: 30px;
//   width: 696px;
//   font-family: var(--text-font);
//   font-weight: 900;
//   font-size: 26px;
//   line-height: 1.62;

//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--white-text-color);
// }

// @media screen and (min-width: 480px) {
.hero {
  padding: 118px 60px;
  display: flex;
  justify-content: center;
}

.hero-side {
  display: inline-block;
  text-align: center;
}
.overlay {
  display: flex;
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/optimg/mobile/);
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 480px) {
  .overlay {
    background-image: linear-gradient(
        to right rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/optimg/mobile/mob-Header-img@2x.png");
  }
}

.title {
  text-align: center;

  margin-bottom: 30px;
  width: 360px;
  height: 84px;
  font-family: var(--text-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.364;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
