/* hero*/
// .hero {
//   display: flex;
//   justify-content: center;

//   padding-top: 200px;
//   padding-bottom: 200px;
//   margin-bottom: 60px;
// }

// .hero-side {
//   display: inline-block;
//   text-align: center;
// }

// .overlay {
//   display: flex;
//   height: 600px;
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
//   background-repeat: no-repeat;
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/герой.jpg);
//   background-size: cover;
//   background-position: center;
//   background-color: #c4c4c4;
// }

// .title {
//   text-align: center;

//   margin-bottom: 30px;
//   width: 696px;
//   font-family: var(--text-font);
//   font-weight: 900;
//   font-size: 26px;
//   line-height: 1.62;

//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--white-text-color);
// }

// @media screen and (min-width: 480px) {
.hero {
  padding: 118px 0;

  display: flex;
  justify-content: center;
}

.hero-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.overlay {
  // height: 400px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/optimg/mobile/mobHeader.jpg);
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/optimg/mobHeader@2x.jpg);
  }
}

@media screen and(min-width:768px) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/optimg/tablet/tablet-header.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/optimg/tablet/tablet-header@2x.jpg);
  }
}

@media screen and(min-width:1200px) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/optimg/desktop/desktHeaderImg.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/optimg/desktop/desktHeaderImg@2x.jpg);
  }
}

.title {
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--white-text-color);

  font-family: var(--text-font);
  @media screen and (min-width: 320px) {
    font-size: 16px;
    line-height: 1.615;
  }

  @media screen and (min-width: 480px) {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;

    letter-spacing: 0.06em;
    max-width: 360px;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.364;
    max-width: 696px;
  }
}
