/* Our Clients */

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-descr {
  display: flex;
  text-align: center;
  display: inline-block;
}

.our-client-list {
  display: flex;
  margin-right: -30px;
}

.our-clients-item {
  display: inline-block;
  display: flex;

  border-radius: 4px;
  text-decoration: none;
  margin-right: 30px;
  flex-basis: calc(100% / 6-150);
  width: 170px;
  height: 90px;
}
.our-clients-link {
  color: var(--icons-color);
  background-color: var(--white-text-color);
  display: flex;

  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: solid 1px var(--icons-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.our-clients-icon {
  @extend %flex;
  @extend %text-align;

  fill: currentColor;
  margin: auto;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
