/* Our Clients */

// .our-clients {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .our-clients-descr {
//   display: flex;
//   text-align: center;
//   display: inline-block;
// }

// .our-client-list {
//   display: flex;
//   margin-right: -30px;
// }

// .our-clients-item {
//   display: inline-block;
//   display: flex;

//   border-radius: 4px;
//   text-decoration: none;
//   margin-right: 30px;
//   flex-basis: calc(100% / 6-150);
//   width: 170px;
//   height: 90px;
// }

.our-client-list {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-clients-item {
  width: calc((100% - 1 * 30px) / 2);
  text-decoration: none;
  height: 90px;
  margin-right: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 3);
  }
}

.our-clients-item:nth-child(2n + 2) {
  @media screen and (max-width: 767px) {
    margin-right: 0px;
  }
}
.our-clients-item:nth-child(n + 5) {
  @media screen and (max-width: 767px) {
    margin-bottom: 0px;
  }
}

.our-clients-link {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border-color: var(--icons-color);
  color: var(--icons-color);
  background-color: var(--white-text-color);
  width: 100%;
  height: 100%;
  border: solid 1px var(--icons-color);
  transition: color var(--duration) var(--cubic),
    border-color var(--duration) var(--cubic);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.our-clients-icon {
  @extend %flex;
  @extend %text-align;

  fill: currentColor;
  // margin: auto;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
