.auth-nav {
  // display: none;
  margin-left: auto;
  & .auth-nav-item + .auth-nav-item {
    margin-left: 30px;
  }
}

.auth-nav-item {
  @extend %flex;
  margin-left: auto;

  transition: fill, 250ms, var(--cub);

  &:hover > svg,
  &:focus > svg {
    fill: var(--accent-color);
  }
}

.contacts-icon.convert {
  margin-right: 10px;
}

.contacts-icon.tel {
  margin-right: 10px;
}
