.info {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  .header & {
    display: block;
    font-family: var(--text-font);
    @include font();
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--main-color);

    transition: color, 250ms, var(--cub);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover > svg,
  &:focus > svg {
    fill: var(--accent-color);
  }
}
