/* logo */
.logotype {
  display: block;
  width: 145px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-style: normal;

  animation-duration: 1000ms;
}

.logotype-light-theme {
  color: #000000;
}
.logotype-dark-theme {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.header .logotype {
  width: 134px;
  height: 28px;
  font-size: 24px;
  line-height: 1.17px;
  padding-top: 16px;
  padding-bottom: 16px;
  // margin-right: 93px;
  // padding-top: 24px;
  // padding-bottom: 25px;
}

.logo-web {
  color: var(--accent-color);
  font-style: normal;
}
