/* logo */
.logotype {
  display: block;
  // height: 28px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;

  animation-duration: 1000ms;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.192;
  }
}

.logotype-light-theme {
  color: #000000;
}
.logotype-dark-theme {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: var(--white-text-color);
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

// .header .logotype {
//   width: 134px;
//   height: 28px;
//   font-size: 24px;
//   line-height: 1.17;
//   padding-top: 16px;
//   padding-bottom: 16px;
// margin-right: 93px;
// padding-top: 24px;
// padding-bottom: 25px;

.logo-web {
  color: var(--accent-color);
  font-style: normal;
}
