/* Modal Window */

.backdrop {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;

  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-color);

  margin-bottom: 10px;
}

.input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  display: block;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);

    & + .icon-black {
      fill: var(--accent-color);
    }
  }
}

.modal-form-message {
  display: block;
  padding: 12px 16px;

  font-size: 16px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-input-policy {
  @extend %flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;

  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 30px;

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url(../6-hw/rectangle.svg);
    background-position: center;
    margin-right: 10px;
    border-radius: 2px;

    .modal-form-check-policy:focus + & {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border: 2px solid var(--accent-color);
    }

    .modal-form-check-policy:checked + & {
      background-color: var(--accent-color);
      background-image: url(../6-hw/tip.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border-color: var(--accent-color);
    }
  }
}

.modal-form-check-policy {
  @extend %flex;
  flex-wrap: wrap;
}

.agreement-link {
  color: var(--accent-color);
}

.fill-form {
  text-align: center;

  font-family: var(--text-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  min-width: 448px;
  height: 23px;

  margin-bottom: 12px;
}

.icon-black {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  display: flex;
  height: 18px;
  width: 18px;
  fill: var(--title-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  @extend %flex;
  @extend %text-align;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: var(--title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  padding: 0;

  &:hover > .icon-close {
    fill: var(--accent-color);
  }
}

.icon-close {
  display: flex;
  fill: currentColor;
  height: 11px;
  width: 11px;
}

@keyframes rotate-box {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
