.modal-btn {
  display: inline-block;
  text-align: center;
  color: var(--white-text-color);
  background: var(--accent-color);
  cursor: pointer;
  border: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cub);
  min-width: 100px;
  font-size: 12;
  padding: 10px 32px;

  @media screen and (min-width: 480px) {
    min-width: 200px;
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 4px;
  }
}
