.navigation {
  @extend %flex;
}

.navigation-list {
  display: none;
}

// .navigation-list-item {
//   display: flex;

//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .navigation-list-link {
//   padding-top: 32px;
//   padding-bottom: 32px;

//   display: block;

//   font-family: var(--text-font);
//   @include font();
//   letter-spacing: 0.02em;
//   color: var(--title-color);
//   text-decoration: none;
//   position: relative;

//   cursor: pointer;

//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: var(--cub);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }

//   .navigation-list &.current {
//     color: var(--accent-color);
//   }
// }
