.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  outline: 1px solid red;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

@media screen and (max-width: 480px) {
  .header .site-nav {
    display: flex;
    justify-content: space-between;
  }
}

//.container {
//  width: 1200px;
//  padding-left: 15px;
//  padding-right: 15px;
//  margin: 0 auto;
//  box-sizing: border-box;
//
//  .footer & {
//    display: flex;
//    align-items: baseline;
//  }
//
//  .hero & {
// //   display: flex;
// //   justify-content: center;
//  }
//
//  .buttons & {
//    display: flex;
//    display: block;
//  }
//
//  .our-clients & {
//    display: flex;
//  }
//}
