:root {
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #757575;
  --title-color: #212121;
  --white-text-color: #ffffff;
  --icons-color: #afb1b8;
  --cub: cubic-bezier(0.4, 0, 0.2, 1);
}
